<div class="hero">
	<div class="hero-wrap">
		<div class="logo" style="text-align:center">
			<h1>
				<img src="assets/images/king.jpg">{{ title }}
			</h1>
		</div>
		<app-additem></app-additem>
		<div appScrollSmooth [itemListingElement]="itemListingElement" id="scroll-down"><img src="./assets/images/scroll-down.png"></div>
	</div>
</div>
<div #mainitemListing id="mainitemlisting" class="listing-item" [ngClass]="{'stickyDetails': stickyitemDetails == true}">
	<div class="container">
		<div class="item-item-container" [ngClass]="{'active': selecteditemId != null}">
			<app-listitem      
				class="item-item-main"    
				*ngFor="let item of itemslist; let itemID = index;" 
				[ngClass]="{'active': selecteditemId === itemID}"
				[item]="item"
				(click)="showDetails(itemID)">
			</app-listitem>
			<div class="no-items-to-show align-center"  *ngIf="itemslist == ''">
				<img src="./assets/images/oops.jpg">
				<h4>No items found. Please add items.</h4>
			</div>
		</div>
		<div 
			class="details-panel" 
			[ngClass]="{'active': selecteditemId != null}" 
		>
			<app-itemdetails 
			class="item-details-container"
			*ngIf="selecteditemId != null"
			[itemId]="selecteditemId"  
			[itemDetails]="itemDetails"  
			(closePanel)="closeDetails($event)"
			>
			</app-itemdetails>
		</div>    
	</div>    
</div>